[Desktop Entry]
Version=1.0
Name=STerm
Comment=Simple Terminal Emulator
Comment[de]=Einfaches Terminal-Programm
Exec=sterm
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
